@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-image: url(groovepaper.png);
  color: rgb(83, 76, 83);
  font-family: "Playfair Display", serif;
}
.container {
  width: 960px;
  margin: auto;
  padding: 10px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px dashed rgb(83, 76, 83);
  padding-bottom: 10px;
}
.header .brand a {
  font-size: 1.5rem;
  font-weight: 600;
}
.header a {
  text-decoration: none;
  font-size: 1.2rem;
}
.link ul {
  display: flex;
  flex-direction: row;
}
.link a {
  list-style-type: none;
  margin-left: 1.5rem;
}
.hero-img {
  height: 350px;

  background-size: cover;
  background-position: 0 -60px;
  background-image: url(tua.jpg);
}
.content {
  width: 600px;
  float: left;
}
.content .penulis a {
  text-decoration: none;
  color: blue;
}
.content .penulis {
  margin-top: 20px;
  font-size: 1.2rem;
}
.content p {
  text-align: justify;
  margin-bottom: 20px;
}
.footer p {
  margin: 50px 10px;
  text-align: center;
}
